body {
    background-color: #171717;
    margin: 0;
    padding: 0px;
    font-family: monospace;
    color: #ffffff;
}

header {
    background-color: #050505;
    padding: 24px;
    color: #FFFFFF;
    display: flex;
    font-size: 12px;
    justify-content: left;
}

h1 {
    color: #ffffff;
}

a {
    color: #9b9b9b;
    text-decoration: underline;
    font-size: 16px;
    max-width: fit-content;
    transition: 0.3s;
}

a:hover {
    scale: 1.05;
    color: #ffffff;
}

button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    transition: 0.2s;
    padding: 10px;
    margin-right: 50px;
}

button:hover {
    background-color: #171717;
    color: #ffffff;
}

main {
    flex: 1;
    padding: 20px;
    transform: none;
    transition: 0.5s;
}

/* main.shifted {
    transform: ;
} */

.line {
    max-width: 60%;
    background: #c7c7c7;
    height: 2px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.layout {
    display: flex;
    min-height: calc(100vh - 60px);
}

.aside-btn {
    font-size: 24px;
    width: 100%;
    color: #bebebe;
    transition: 0.2s;
}

.aside-btn:hover {
    background-color: #1a1a1a;
    color: #ffffff;
}

aside {
    width: 220px;
    background: #050505;
    color: white;
    text-align: center;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    transform: none;
    box-shadow: 4px 0 15px rgba(0,0,0,0.5);
}

.dev-card {
    flex: 1 1 240px;
    max-width: 240px;
    background-color: #050505;
    padding: 20px;
    border-radius: 15px;
}

.progress__bar-inner {
    background: #2b2b2b;
    border-radius: 50px;
    overflow: hidden;
    height: 15px;
    text-align: center;
}

.progress__bar-inner span {
    color: #2b2b2b;
}

.progress__bar {
    height: 15px;
    border-radius: 50px;
    width: 0;
    background: linear-gradient(90deg, #ffffff 0%, #5c5c5c 100%);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: width 0.6s ease;
}

.dev-section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    justify-content: flex-start;
    max-height: none;
    margin-bottom: 50px;
}

.skills-section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
    max-width: 920px;
}

.skill-card {
    flex: 1 1 200px;
    max-width: 330px;
    background-color: #050505;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.social__media-section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    justify-content: flex-start;
    max-height: none;
    margin-bottom: 50px;
}

.social__media-card {
    background-color: #050505;
    max-width: 330px;
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 50px;
}


/* aside.hidden {
    transform: translateX(-100%);
} */

@media(max-width: 670px) {
    header {
        font-size: 18px;
        justify-content: space-between;
    }
    aside {
        transform: translateX(-100%);
    }
    .aside-btn {
        font-size: 28px;
    }
}